body, html {
  margin: 0; 
  padding: 0;
  background-color: #ccc;
}
@font-face {
  font-family: 'Antology';
  src: url('antology/Antology.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Matcha';
  src: url('./assets/fonts/matcha_latte_3/Matcha\ Latte\ Script.ttf') format('truetype'); 
}
@font-face {
  font-family: 'laluna';
  src: url('laluna/LALUNA.ttf') format('truetype'); 
}
@font-face {
  font-family: 'aquila';
  src: url('aquila_2/Aquila.ttf') format('truetype'); 
}
a{
  text-decoration: none;
  color: black;
}
.LandingImage{
  position: relative;
  width: 100%;
  max-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.LandingImage .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Matcha', sans-serif;
    font-size: 108px;
    padding: 10px 20px;
    border-radius: 8px;
}

 .LandingImage .botão{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);  
   border-radius: 8%;
   text-align: center;
   width: 10%;
   height: 5%;
   font-size: 20px;
   color: aliceblue;
   border-color: none;
   background-color: black;
}
.LandingImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.FundoDarkBlue{
  width: 100%;
  max-height: 900px;
  background-color: #025373;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding-top: 50px;
  padding-bottom: 50px;
}

.FundoLigthBlue{
  padding: 5%;
  background-color:#C5D0D9
  ;
}
.container{
  margin: auto;
  border-radius: 8px;
  width: 80vw;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(181, 181, 181);
 }

.dados{
  display: flex;
  text-align: center;
  border-radius: 20px; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  z-index: 2;
}
.FundoGray{
  background-color: #dadada;
  padding-left: 6%;
  padding-right: 5%;
  padding-top:4% ;
}
.FundoGray img{
  border-radius: 12px;
  height: 80%;
  width:95%;

}
.FundoGray p{
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
}
.text{
  font-family: 'Matcha', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 2%;
}

.ContainerPlaces{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.filtrogreen{
  background-color: darkolivegreen;
}
.picture {
  border-radius: 8px;
  width: 70%;
  height: auto;
}
.picture img {
  max-width: 700px;
  border-radius: 8px;
  width: 90%;
  
}
.navbar{
  background-color: rgb(174, 174, 174);
}
.invisivel {
  display: none;
}


.filtro{
  position: relative;
  background-color:#a3ceef;
    height: auto;
    padding-left: 2%;
    padding-right: 1%;
    padding-top:2% ;
    padding-bottom:2%;
} 
.filtro p{
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -5%;
  color: aliceblue;
  margin-left: 2%;
}
.categorias{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.filtro img{
  border-radius: 12px;
  height: auto;
  width:95%;
  
  }


.bandeira{
  width: 25%;
}
.bandeira img{
  width: 70%;
}

.textwhite{
  width: 20%;
  text-align: center;
  color: white;
  font-size: 24px;
 
}

.menu {
  background-color: transparent; 
  display: flex;
  justify-content: center; 
  list-style-type: none; 
  padding: 0;

  color: black;
 
}


@media (min-width:930px) and (max-width:1699px) {
  .picture {
      margin-left: 5%;
      border-radius: 8px;
      width: 50%;
      height: 50%;
  }
  
.FundoDarkBlue{
  width: 100%;
  max-height: 900px;
  padding: 40px 0;
  background-color: #025373;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center;  
}
.textwhite{
  width: 350px;
  text-align: center;
  color: white;
  font-size: 24px;
 
}

.menu a {
  color: black;
  font-size: 29px;
  text-decoration: none;
  padding: 30px; 
}

.dados .title {
  font-size: 100px;
  color: white;
  font-family: 'aquila', sans-serif;
}

  .filtro p{
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      margin-top: -5%;
      text-align: center;
      color: aliceblue;
      margin-left: 2%;
  }
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      
  }
  .FundoGray{
      background-color: #dadada;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
  }


  .containerpark{
      position: relative; 
      z-index: 2;
      display: flex;
      justify-content: space-between;  
      margin-top: 40px;
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 50%;
      text-align: justify;
      margin-right: 5%;
  }
  .curiosidades{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin: auto;
      width: 90%;
      text-align: justify;
      font-size: 18px;
  }
  
  .curiosidades img{
      width: 100%;
      height: 50%;
  }
  .traco-com-bolinhas {
      display: none;
  }
  .about{
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin:auto;
      padding-bottom: 50px;
      width: 90%;
      font-size: 18px;
  }
   

  .bandeira{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  }
  .bandeira img{
     width: 100%;
  height: 100%;
  }

  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 100px;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }

}
@media (min-width:1700px) and (max-width:2000px) {
  .picture {
      margin-left: 5%;
      border-radius: 8px;
      width: 50%;
      height: 50%;
  }
  .filtro p{
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      margin-top: -5%;
      text-align: center;
      color: aliceblue;
      margin-left: 2%;
  }
  
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 100%;
      
  }
  .lugares{
      background-color: #dadada;
      height: auto;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
      padding-bottom: 4%;
  }

  
  .containerpark{
      position: relative; 
      z-index: 2;
      display: flex;
      justify-content: space-between;  
      margin-top: 40px;
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 50%;
      text-align: justify;
      margin-right: 5%;
  }
  
  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:95%;
  
  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 35px;
      margin-top: 1%;
      margin-left: 2%;
  }
  .container {
      margin: 5%;
      border-radius: 8px;
      padding: 2%;
      justify-content: center; 
      align-items: center;       
      background-color: #9FB0BF;
  }
  .menu a {
    color: black;
    font-size: 29px;
    text-decoration: none;
    padding: 30px; 
  }
  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
  .curiosidades img {
      width: 100%;
      height: 100%;
  }
  
  .about {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin-left: 2%;
      margin-right: 2%;
      font-size: 18px;
      padding: 2%;
  }
   

  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 100px;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }

}
@media (min-width:2001px) {
  .bandeira{
      display: none;
  
  }
  .bandeira img{
   display:none;
  }
  .filtro p{
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      margin-top: -5%;
      text-align: center;
      color: aliceblue;
      margin-left: 2%;
  }
  .picture {
      margin-left: 5%;
      border-radius: 8px;
      width: 50%;
      height: 50%;
  }
  
  
  .picture img {
      border-radius: 8px;
      width: 100%;
      
  }
  .lugares{
      background-color: #dadada;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
  }

  
  .containerpark{
      position: relative; 
      z-index: 2;
      display: flex;
      justify-content: space-between;  
      margin-top: 40px;
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 25px;
      width: 50%;
      text-align: justify;
      margin-right: 5%;
  }


  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:95%;
  
  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 45px;
      margin-top: 1%;
      margin-left: 2%;
  }
  .LandingImage{
      position: relative;
      text-align: center;
      color: aliceblue; 
  }
  .LandingImage .title{
      position: absolute;
       top: 60%;
       left: 50%;
       font-family: 'Matcha', sans-serif;
       transform: translate(-50%, -50%);
       font-size: 150px;
       padding: 10px 20px; 
     }
  
  .LandingImage .botão{
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);  
      border-radius: 8%;
      text-align: center;
      width: 10%;
      height: 5%;
      font-size: 25px;
      color: aliceblue;
      border-color: none;
      background-color: black;
  }
  .menu a {
    color: black;
    font-size: 29px;
    text-decoration: none;
    padding: 30px; 
  }
  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
     .curiosidades img{
         width: 100%;
         height: 50%;
     }
     .about{
         align-items: center;
         font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         text-align: justify;
         margin-left: 5%;
         margin-right: 5%;
         width: 90%;
         font-size: 18px;
     }
       

     .FundoDarkBlue{
      width: 100%;
      height: 50%;
      background-color: #025373;
      text-align: center;
      display: flex;
      justify-content: center; /* Centraliza horizontalmente */
      align-items: center;  
  }
  .textwhite{
      width: 20%;
      text-align: center;
      color: white;
      font-size: 24px;
     
  }

  

  .dados .title{
    font-size: 150px;
    margin: auto;
  }
  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 100px;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }
  

}


@media (min-width:898px) and (max-width:929px) {
  .picture {
      margin-left: 5%;
      border-radius: 8px;
      width: 50%;
      height: 50%;
  }
  .textwhite{
      width: 50%;
  }
  
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      
  }
  .lugares{
      background-color: #dadada;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
  }

  
  .containerpark{
      position: relative; 
      z-index: 2;
      display: flex;
      justify-content: space-between;  
      margin-top: 40px;
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 50%;
      text-align: justify;
      margin-right: 5%;
  }
  
  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:95%;
  
  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 25px;
      margin-top: 1%;
      margin-left: 2%;
  }


  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
  
  
  .curiosidades img{
      margin-top: 4%;
      width: 100%;
      height: 60%;
  }
  .about{
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      width:90%;
      font-size: 18px;
  }
 
  

  .bandeira{

      display: none;
  }
  
  .title{
      text-align: center;
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 100px;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }
  .textwhite{
      width: 90%;
  }
 

}
@media (min-width: 401px) and (max-width: 500px) {
     
  .containerpark{
      position: relative; 
      z-index: 2;
      width: 100%;
      text-align: center;
      margin-top: 40px;
      justify-content: space-between;  
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 90%;
      text-align: justify;
      margin-right: 5%;
      margin-left: 5%;
  }
  .picture {
      border-radius: 8px;
      width: 100%;
      text-align: center;
  
  }
  .LandingImage{
      position: relative;
      text-align: center;
      color: aliceblue; 
  }
  
.LandingImage .title{
  position: absolute;
   top: 60%;
   left: 50%;
   font-family: 'Matcha', sans-serif;
   transform: translate(-50%, -50%);
   font-size: 40px;
   padding: 10px 20px; /* Espaçamento dentro do bloco de texto */
 }

 .categorias{
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; 
}
.traco-com-bolinhas{
  display: none;
}
 .LandingImage .botão{
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);  
   border-radius: 8%;
   text-align: center;
   width: 20%;
   height: 9%;
   font-size: 12px;
   color: aliceblue;
   border-color: none;
   background-color: black;
}
  .LandingImage img{
  width: 100%;
  height: 35%;
  }
  .bandeira{
      display: none;
  }
  .filtro p{
      position: absolute;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: -5%;
      text-align: center;
      color: aliceblue;
      
  }
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      text-align: center;
  
  }
  .lugares{
      background-color: #dadada;
      height: auto;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4%;
      padding-bottom: 4%;
  }
  .lugaresSpace{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      height: 150px;
  }

  
.textwhite{
  font-size: 15px;
  width: 90%;
}
  
  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:95%;

  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 20px;
      margin-top: 1%;
      margin-left: 2%;
  }
 
.filtro{
  position: relative;
  background-color:#a3ceef;
    height: 20%;
    padding-left: 2%;
    padding-right: 1%;
    padding-top:2% ;
    padding-bottom:2%;
} 
.filtro img{
  border-radius: 12px;
  height: 90%;
  width:95%;
  
  }

  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
  

  .curiosidades img{
      margin-top: 4%;
      height: 50%;
      width: 92%;
      margin-left: 2%;
      margin-right: 5%;
  }
  .about{
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      font-size: 18px;
  }

  .dados .title{
      font-size: 50px;
      color: white;
      font-family: 'aquila', sans-serif;
      align-items: center; 
     
 }
  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 60px;
      text-align: center;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }

}

@media (max-width: 400px) {
  .containerpark{
      position: relative; 
      z-index: 2;
      width: 100%;
      text-align: center;
      margin-top: 40px;
      justify-content: space-between;  
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 90%;
      text-align: justify;
      margin-right: 5%;
      margin-left: 5%;
  }
  .picture {
      border-radius: 8px;
      width: 100%;
      text-align: center;
  
  }
  
  .mySlides {
      display: none;
      width: 100%;
    }
    .slideshow {
      position: relative;
    }
  .retangulo-torto {
      margin-top: -40%;
      position: relative; 
      width: 100%;
      height: 80%;
      background-color: #ccc;
      transform: skewy(18deg);
      z-index: 1;
  }
  .retangulo-reto {
      position: relative; 
      width: 100%;
      height: 80%;
      background-color: #ccc;
      z-index: 1;
  }
  
  .retangulo-contra {
      position: relative; 
      width: 100%;
      height: 100%;
      margin-top: 5%;
      background-color: #877fa6;
      transform: skewy(5deg);
      z-index: 1;
  }
  
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      text-align: center;
  
  }
  .lugares{
      background-color: #dadada;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
  }
  .lugaresSpace{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      height: 50%;
  }

  
  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:90%;

  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 18px;
      margin-top: 1%;
      margin-left: 2%;
  }
 

  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
  

  .curiosidades img{
      margin-top: 4%;
      height: 50%;
      width: 92%;
      margin-left: 2%;
      margin-right: 5%;
  }
  .about{
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      margin-top: -110%;
      font-size: 18px;
  }

  .bandeira img{
      display: none;
  }
  .dados .title{
      margin-top: -75%; 
      margin-left: 5%;
      margin-right: 5%;
       font-size: 70px;
       color: black;
       font-family: 'aquila', sans-serif;
      
  }
  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 50px;
      text-align: center;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }
 
.filtro{
  position: relative;
  background-color:#a3ceef;
    height: auto;
    padding-left: 2%;
    padding-right: 1%;
    padding-top:2% ;
    padding-bottom:2%;
} 
  .filtro img{
      border-radius: 12px;
      height: auto;
      width:95%;
      
      }
}

@media (min-width: 601px) and  (max-width: 898px) {
  .containerpark{
      position: relative; 
      z-index: 2;
      width: 100%;
      text-align: center;
      margin-top: 40px;
      justify-content: space-between;  
  }
  .textwhite{
      width: 70%;
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 18px;
      width: 90%;
      text-align: justify;
      margin-right: 5%;
      margin-left: 5%;
  }
  .picture {
      border-radius: 8px;
      width: 100%;
      text-align: center;
  
  }
  .LandingImage{
  position: relative;
  text-align: center;
  color: aliceblue; 
}

.LandingImage .title{
  position: absolute;
   top: 60%;
   left: 50%;
   font-family: 'Matcha', sans-serif;
   transform: translate(-50%, -50%);
   font-size: 65px;
   padding: 10px 20px; /* Espaçamento dentro do bloco de texto */
 }


 .LandingImage .botão{
  margin-top: 5%;
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);  
   border-radius: 8%;
   text-align: center;
   width: 20%;
   height: 9%;
   font-size: 20px;
   color: aliceblue;
   border-color: none;
   background-color: black;
}
.LandingImage img{
width: 100%;
height: 30%;
}
.traco-com-bolinhas{
  display: none;
}
.bandeira{
  display: none;
}
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      text-align: center;
  
  }
  .lugares{
      background-color: #dadada;
      padding-left: 6%;
      padding-right: 5%;
      padding-top:4% ;
  }


  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 14px;
}

  .curiosidades img{
      margin-top: 4%;
      height: 50%;
      width: 92%;
      margin-left: 2%;
      margin-right: 5%;
  }
  .about{
      align-items: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: justify;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      font-size: 18px;
  }


  .bandeira{
      margin-top: 2%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 50%;
  }
  .bandeira img{
      margin-top: 25%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 60%;
  }
 
  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 80px;
      text-align: center;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }

}

@media (min-width: 501px) and  (max-width: 600px) {

  
  .picture img {
      max-width: 500px;
      border-radius: 8px;
      width: 90%;
      text-align: center;
  
  }

  .containerpark{
      position: relative; 
      z-index: 2;
      width: 100%;
      text-align: center;
      margin-top: 40px;
      justify-content: space-between;  
  }
  .namepark{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
      width: 90%;
      text-align: justify;
      margin-right: 5%;
      margin-left: 5%;
  }
  .picture {
      border-radius: 8px;
      width: 100%;
      text-align: center;
  
  }
  .LandingImage{
      position: relative;
      text-align: center;
      color: aliceblue; 
  }
  
  .LandingImage .title{
      position: absolute;
       top: 60%;
       left: 50%;
       font-family: 'Matcha', sans-serif;
       transform: translate(-50%, -50%);
       font-size: 65px;
       padding: 10px 20px; 
     }
   
     .filtro img{
      border-radius: 12px;
      height: 40%;
      width:95%;
      
      }
     .LandingImage .botão{
      margin-top: 7%;
       position: absolute;
       top: 70%;
       left: 50%;
       transform: translate(-50%, -50%);  
       border-radius: 8%;
       text-align: center;
       width: 20%;
       height: 10%;
       font-size: 20px;
       color: aliceblue;
       border-color: none;
       background-color: black;
   }
   .LandingImage img{
   width: 100%;
   height: 40%;
   }
   
  .lugares img{
      border-radius: 12px;
  height: 80%;
  width:90%;

  }
  .lugares p{
      font-family:'Times New Roman', Times, serif;
      font-size: 18px;
      margin-top: 1%;
      margin-left: 2%;
  }
  .curiosidades{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 18px;
}
     
  
     .curiosidades img{
         margin-top: 4%;
         height: 50%;
         width: 92%;
         margin-left: 2%;
         margin-right: 5%;
     }
     .about{
         align-items: center;
         font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         text-align: justify;
         margin-left: 5%;
         margin-right: 5%;
         width: 90%;
         font-size: 18px;
     }
 
  
  .bandeira{
      margin-top: 10%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 50%;
  }
  .bandeira img{
      margin-top: 25%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      height: 40%;
  }

  .title{
     margin-top: 1.5%; 
     margin-left: 5%;
     margin-right: 5%;
      font-size: 80px;
      text-align: center;
      color: black;
      font-family: 'aquila', sans-serif;
     
    
  }

}